@font-face {
  font-family: 'RammettoOne';
  src: url('./RammettoOne-Regular.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}
@font-face {
  font-family: 'Marart Sans Regular';
  src: url('./marat-sans/Marat Sans Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Marart Sans Bold';
  src: url('./marat-sans/Marat Sans Bold.otf') format("opentype");
}

.RammettoOneFont {
  font-family: 'RammettoOne', sans-serif;
}

.MaratSansRegularFont {
  font-family: 'Marart Sans Regular', sans-serif;
}

.MarartSansBoldFont{
  font-family: 'Marart Sans Bold', sans-serif;
}



#living-shapes-wrapper > .shape:nth-child(1) {
  background-color: rgb(176, 190, 197);
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(2) {
  background-color: rgb(0, 187, 249);

  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(3) {
  background-color: rgb(245, 245, 245);
  z-index: 1;
}

#living-shapes-wrapper > .shape:nth-child(4) {
  background-color: #FFC5C5;
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(5) {
  background-color: #ffe376;
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(6) {
  background-color: #C7DCA7;
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(7) {
  background-color: rgb(155, 93, 229);

  z-index: 2;
}



#living-shapes-wrapper > div > p:not(.live-status){
  display: none;
}


#living-shapes-wrapper> div > p:not(.live-status){
  display:block;
  padding: 12px;
  padding-left: 4px;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 600;
}
#living-shapes-wrapper > div > p.live-status{
  animation: blinkAnimation 3s infinite;
}
@keyframes blinkAnimation{
  50% {opacity: 0;}
}

#living-shapes-wrapper > .shape {
  height: 100%;
  max-height: 400px;
  width: 190px;
  position: relative;
  transition: left, top, height, width, border-radius;
}


#living-shapes-wrapper > .shape[data-selected="true"] {
  position: fixed;
  height: 100vh;
  max-height: 40000px;
  width: 100vw;
  top: 0;
  left: 0;
  border-radius: 0px;
  cursor: default;
}
#living-shapes-wrapper > .shape > div{
  display: none;
}
#living-shapes-wrapper[data-project-selected="true"] > .shape[data-selected="false"] {
  display: none;
}

#living-shapes-wrapper[data-project-selected="true"] > .shape[data-selected="true"] > p{
  display: none;
}
#living-shapes-wrapper[data-project-selected="true"] > .shape[data-selected="true"] > div {
  display: flex;
  cursor: default;
}
#living-shapes-wrapper[data-project-selected="false"] > .close-project{
  display: none;
}
#living-shapes-wrapper[data-project-selected="true"] > .close-project{
  display: block;
  position: fixed;
  top: 10px;
  z-index: 100;
  left: 10px;
}