@font-face {
  font-family: 'RammettoOne';
  src: url('./RammettoOne-Regular.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}
@font-face {
  font-family: 'Marart Sans Regular';
  src: url('./marat-sans/Marat Sans Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Marart Sans Bold';
  src: url('./marat-sans/Marat Sans Bold.otf') format("opentype");
}
.RammettoOneFont {
  font-family: 'RammettoOne', sans-serif;
}

.MaratSansRegularFont {
  font-family: 'Marart Sans Regular', sans-serif;
}

.MarartSansBoldFont{
  font-family: 'Marart Sans Bold', sans-serif;
}