@font-face {
  font-family: 'RammettoOne';
  src: url('./RammettoOne-Regular.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}
@font-face {
  font-family: 'Marart Sans Regular';
  src: url('./marat-sans/Marat Sans Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Marart Sans Bold';
  src: url('./marat-sans/Marat Sans Bold.otf') format("opentype");
}

.RammettoOneFont {
  font-family: 'RammettoOne', sans-serif;
}

.MaratSansRegularFont {
  font-family: 'Marart Sans Regular', sans-serif;
}

.MarartSansBoldFont{
  font-family: 'Marart Sans Bold', sans-serif;
}




/* css for the projects living shape effects */
#living-shapes-wrapper > .shape {
  height: 30%;
  width: 30%;
  background-color: rgba(255 255 255 / 5%);
  position: absolute;
  transition: left, top, height, width, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}

#living-shapes-wrapper > .shape:nth-child(1) {
  background-color: rgb(176, 190, 197);
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(2) {
  background-color: rgb(245, 245, 245);
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(3) {
  background-color: rgb(155, 93, 229);
  z-index: 1;
}

#living-shapes-wrapper > .shape:nth-child(4) {
  background-color: rgb(241, 91, 181);
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(5) {
  background-color: rgb(254, 228, 64);
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(6) {
  background-color: rgb(0, 187, 249);
  z-index: 2;
}

#living-shapes-wrapper > .shape:nth-child(7) {
  background-color: rgb(0, 245, 212);
  z-index: 2;
}

#living-shapes-wrapper[data-configuration="1"] > .shape:nth-child(1) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 20%;
}

#living-shapes-wrapper[data-configuration="1"] > .shape:nth-child(2) {  
  left: 20%;
  top: 0%;
  height: 50%;
  width: 30%;
}

#living-shapes-wrapper[data-configuration="1"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 50%;
}

#living-shapes-wrapper[data-configuration="1"] > .shape:nth-child(4) {  
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#living-shapes-wrapper[data-configuration="1"] > .shape:nth-child(5) {  
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}

#living-shapes-wrapper[data-configuration="1"] > .shape:nth-child(6) {  
  left: 70%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#living-shapes-wrapper[data-configuration="1"] > .shape:nth-child(7) {  
  left: 85%;
  top: 75%;
  height: 25%;
  width: 15%;
}

#living-shapes-wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 25%;
  top: 20%;
  height: 80%;
  width: 15%;
}

#living-shapes-wrapper[data-configuration="2"] > .shape:nth-child(2) {  
  left: 40%;
  top: 20%;
  height: 50%;
  width: 10%;
}

#living-shapes-wrapper[data-configuration="2"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 25%;
}

#living-shapes-wrapper[data-configuration="2"] > .shape:nth-child(4) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 10%;
}

#living-shapes-wrapper[data-configuration="2"] > .shape:nth-child(5) {  
  left: 10%;
  top: 0%;
  height: 70%;
  width: 15%;
}

#living-shapes-wrapper[data-configuration="2"] > .shape:nth-child(6) {  
  left: 75%;
  top: 10%;
  height: 80%;
  width: 15%;
}

#living-shapes-wrapper[data-configuration="2"] > .shape:nth-child(7) {  
  left: 90%;
  top: 40%;
  height: 60%;
  width: 10%;
}

#living-shapes-wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 0%;
  top: 16.5%;
  height: 32%;
  width: 20%;
}

#living-shapes-wrapper[data-configuration="3"] > .shape:nth-child(2) {  
  left: 20%;
  top: 2.7%;
  height: 55%;
  width: 34%;
}

#living-shapes-wrapper[data-configuration="3"] > .shape:nth-child(3) {  
  left: 38%;
  top: 0%;
  height: 100%;
  width: 62%;
}

#living-shapes-wrapper[data-configuration="3"] > .shape:nth-child(4) {  
  left: 0%;
  top: 47.3%;
  height: 55%;
  width: 34%;
}

#living-shapes-wrapper[data-configuration="3"] > .shape:nth-child(5) {   
  left: 34%;
  top: 56.4%;
  height: 32%;
  width: 20%;
}

#living-shapes-wrapper[data-configuration="3"] > .shape:nth-child(6) {  
  left: 66%;
  top: 45%;
  height: 55%;
  width: 34%;
}

#living-shapes-wrapper[data-configuration="3"] > .shape:nth-child(7) {  
  left: 80%;
  top: 68%;
  height: 32%;
  width: 20%;
}

#living-shapes-wrapper[data-roundness="1"] > .shape {   
  border-radius: 6rem; 
}

#living-shapes-wrapper[data-roundness="2"] > .shape {  
  border-radius: 0rem;
}

#living-shapes-wrapper[data-roundness="3"] > .shape {  
  border-radius: 30rem;
}

#living-shapes-wrapper[data-roundness="4"] > .shape:nth-child(1) {  
  border-bottom-left-radius: 10rem;
}

#living-shapes-wrapper[data-roundness="4"] > .shape:nth-child(2) {  
  border-radius: 20rem;
}

#living-shapes-wrapper[data-roundness="4"] > .shape:nth-child(3) {  
  border-top-right-radius: 12rem;
}

#living-shapes-wrapper[data-roundness="4"] > .shape:nth-child(4) {  
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#living-shapes-wrapper[data-roundness="4"] > .shape:nth-child(5) {  
  border-bottom-left-radius: 10rem;
}

#living-shapes-wrapper[data-roundness="4"] > .shape:nth-child(6) {  
  border-top-left-radius: 16rem;
}

#living-shapes-wrapper[data-roundness="4"] > .shape:nth-child(7) {  
  border-top-left-radius: 10rem;
}

#living-shapes-wrapper > div > p{
  display: none;
}

#living-shapes-wrapper[data-roundness="0"] > div > p{
  display:block;
  padding: 12px;
  padding-left: 4px;
}
#living-shapes-wrapper[data-roundness="0"] > .shape {
  height: calc(100% / 7);
  width: 100%;
  position: relative;
  transition: left, top, height, width, border-radius;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

#living-shapes-wrapper[data-roundness="0"] > .shape[data-selected="true"] {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  border-radius: 0px;
  cursor: default;
}
#living-shapes-wrapper > .shape > div{
  display: none;
}
#living-shapes-wrapper[data-project-selected="true"] > .shape[data-selected="false"] {
  display: none;
}

#living-shapes-wrapper[data-project-selected="true"] > .shape[data-selected="true"] > p{
  display: none;
}
#living-shapes-wrapper[data-project-selected="true"] > .shape[data-selected="true"] > div {
  display: flex;
  cursor: default;
}
#living-shapes-wrapper[data-project-selected="false"] > .close-project{
  display: none;
}
#living-shapes-wrapper[data-project-selected="true"] > .close-project{
  display: block;
  position: fixed;
  top: 10px;
  z-index: 100;
  left: 10px;
}